In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/Case Rigshospitalet.csv')

C:\Users\Nazareno\AppData\Local\Temp\ipykernel_6588\4698354.py:1: DtypeWarning: Columns (9,13,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/Case Rigshospitalet.csv')

In [3]:
from utils import column_name_mapping
# renaming columns to english
df = df.rename(columns=column_name_mapping)

In [4]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4658066 entries, 0 to 4658065
Data columns (total 24 columns):
 #   Column                       Dtype
---  ------                       -----
 0   patientID                    object
 1   patientContactID             int64
 2   patientAgeAtContactStart     int64
 3   contactStartDate             object
 4   contactEndDate               object
 5   contactType                  object
 6   appointmentUrgency           object
 7   patientContactType           object
 8   primaryDiagnosisCode         object
 9   secondaryDiagnosisCode       object
 10  responsibleDepartment        object
 11  contactDurationHours         object
 12  procedureCode                object
 13  procedureSupplementaryCodes  object
 14  procedurePerformed           object
 15  treatmentContactID           object
 16  visitType                    object
 17  patientGender                object
 18  patientMaritalStatus         object
 19  patientRegisteredInMySP      object
 20  patientCountry               object
 21  patientRegion                object
 22  patientPostalCode            object
 23  patientMunicipality          object
dtypes: int64(2), object(22)
memory usage: 852.9+ MB

,patientID,patientContactID,patientAgeAtContactStart,contactStartDate,contactEndDate,contactType,appointmentUrgency,patientContactType,primaryDiagnosisCode,secondaryDiagnosisCode,...,procedurePerformed,treatmentContactID,visitType,patientGender,patientMaritalStatus,patientRegisteredInMySP,patientCountry,patientRegion,patientPostalCode,patientMunicipality
0,Z4115614,1301023075465,0,"2023-01-13 12:32:00,000","2023-01-13 13:02:00,000",Fysisk fremmøde,Planlagt,2 Ambulant,DZ001,NaN,...,"2023-01-13 12:32:00,000",176.794.528,OBST EFTERFØDSEL 30,Mand,Ugift,J,Danmark,Hovedstaden (84),2100,København
1,Z4115614,1301023121831,0,"2023-01-15 13:27:00,000","2023-01-15 13:57:00,000",Fysisk fremmøde,Planlagt,2 Ambulant,DZ001,NaN,...,"2023-01-15 13:27:00,000",177.035.032,OBST EFTERFØDSEL 30,Mand,Ugift,J,Danmark,Hovedstaden (84),2100,København
2,Z4119225,1301023357249,0,"2023-01-30 10:20:00,000","2023-01-30 10:50:00,000",Fysisk fremmøde,Planlagt,2 Ambulant,DZ001,NaN,...,"2023-01-30 10:20:00,000",178.269.449,OBST EFTERFØDSEL 30,Mand,Ugift,J,Danmark,Hovedstaden (84),2100,København
3,Z4127033,1301023443807,0,"2023-02-04 12:46:00,000","2023-02-04 13:16:00,000",Fysisk fremmøde,Planlagt,2 Ambulant,DZ001,NaN,...,"2023-02-04 12:46:00,000",178.703.583,OBST EFTERFØDSEL 30,Mand,Ugift,J,Danmark,Hovedstaden (84),2100,København
4,Z4127033,1301023443875,0,"2023-02-05 12:22:00,000","2023-02-05 12:52:00,000",Fysisk fremmøde,Planlagt,2 Ambulant,DZ001,NaN,...,"2023-02-05 12:22:00,000",178.703.779,OBST EFTERFØDSEL 30,Mand,Ugift,J,Danmark,Hovedstaden (84),2100,København

In [5]:
# Basic data exploration
summary_stats = {
    "Number of Patients": df["patientID"].nunique(),
    "Number of Appointments": df["patientContactID"].nunique(),
    "Number of Total Meetings": df["treatmentContactID"].nunique(),
    "Number of Female Patients": df[df["patientGender"] == "Kvinde"]["patientID"].nunique(),
    "Number of Male Patients": df[df["patientGender"] == "Mand"]["patientID"].nunique(),
    "Number of Unique Diseases (Primary)": df["primaryDiagnosisCode"].nunique(),
    "Number of Unique Diseases (Secondary)": df["secondaryDiagnosisCode"].nunique(),
    "Number of Unique Countries": df["patientCountry"].nunique(),
    "Number of Unique Regions": df["patientRegion"].nunique(),
    "Number of Unique Municipalities": df["patientMunicipality"].nunique(),
    "Number of Unique Postal Codes": df["patientPostalCode"].nunique(),
}

# Convert summary statistics into a DataFrame for better visualization
summary_df = pd.DataFrame(list(summary_stats.items()), columns=["Metric", "Value"])

# Display the summary table
print(summary_df)

                                   Metric    Value
0                      Number of Patients   331762
1                  Number of Appointments  1821200
2                Number of Total Meetings  1917825
3               Number of Female Patients   177662
4                 Number of Male Patients   154098
5     Number of Unique Diseases (Primary)     8194
6   Number of Unique Diseases (Secondary)     6415
7              Number of Unique Countries      111
8                Number of Unique Regions        9
9         Number of Unique Municipalities      143
10          Number of Unique Postal Codes     2676

In [6]:
# Analyze missing values
missing_values = df.isnull().sum()  # Count of missing values per column
missing_percentage = (missing_values / len(df)) * 100  # Percentage of missing values

# Create a DataFrame to display the missing values analysis
missing_df = pd.DataFrame({
    "Feature": df.columns,
    "Missing Values": missing_values,
    "Percentage Missing (%)": missing_percentage
}).sort_values(by="Percentage Missing (%)", ascending=False)  # Sort by highest missing percentage

# Display the missing values analysis
print(missing_df)

                                                 Feature  Missing Values  \
secondaryDiagnosisCode            secondaryDiagnosisCode         3447671
procedureSupplementaryCodes  procedureSupplementaryCodes         2970364
visitType                                      visitType          691308
procedurePerformed                    procedurePerformed           51203
procedureCode                              procedureCode           51200
patientPostalCode                      patientPostalCode           33535
patientCountry                            patientCountry           15063
patientRegion                              patientRegion           14572
patientMunicipality                  patientMunicipality           14052
patientMaritalStatus                patientMaritalStatus           10117
primaryDiagnosisCode                primaryDiagnosisCode             352
patientGender                              patientGender              46
patientID                                      patientID              46
responsibleDepartment              responsibleDepartment               0
contactDurationHours                contactDurationHours               0
patientContactID                        patientContactID               0
patientContactType                    patientContactType               0
appointmentUrgency                    appointmentUrgency               0
treatmentContactID                    treatmentContactID               0
contactType                                  contactType               0
patientRegisteredInMySP          patientRegisteredInMySP               0
contactEndDate                            contactEndDate               0
contactStartDate                        contactStartDate               0
patientAgeAtContactStart        patientAgeAtContactStart               0

                             Percentage Missing (%)
secondaryDiagnosisCode                    74.015074
procedureSupplementaryCodes               63.768182
visitType                                 14.841095
procedurePerformed                         1.099233
procedureCode                              1.099169
patientPostalCode                          0.719934
patientCountry                             0.323375
patientRegion                              0.312834
patientMunicipality                        0.301670
patientMaritalStatus                       0.217193
primaryDiagnosisCode                       0.007557
patientGender                              0.000988
patientID                                  0.000988
responsibleDepartment                      0.000000
contactDurationHours                       0.000000
patientContactID                           0.000000
patientContactType                         0.000000
appointmentUrgency                         0.000000
treatmentContactID                         0.000000
contactType                                0.000000
patientRegisteredInMySP                    0.000000
contactEndDate                             0.000000
contactStartDate                           0.000000
patientAgeAtContactStart                   0.000000

In [7]:
columns_to_drop = ["secondaryDiagnosisCode", "procedureSupplementaryCodes"]
df_cleaned = df.drop(columns=columns_to_drop)

In [8]:
# Step 1: Count unique `treatmentContactID` per `patientContactID`
meeting_counts = df.groupby("patientContactID")["treatmentContactID"].nunique().reset_index()
meeting_counts.rename(columns={"treatmentContactID": "Meetings Num"}, inplace=True)

# Step 2: Group by `patientContactID` (appointment level)
df_appointments = df.groupby("patientContactID").agg({
    "patientID": "first",  # Keep the first patient ID (all rows belong to the same patient)
    "patientAgeAtContactStart": "first",  # Age remains the same
    "patientGender": "first",  # Gender remains the same
    "appointmentUrgency": "first",  # Urgency remains the same
    "contactType": "first",  # Contact type remains the same
    "primaryDiagnosisCode": "first",  # Keep the first primary diagnosis
    "contactStartDate": "first",  # Keep the first occurrence (will convert to datetime later)
    "contactEndDate": "first",  # Keep the first occurrence (will convert to datetime later)
    "visitType": "first",  # Keep the first visit type
    "patientMaritalStatus": "first",  # Keep marital status
    "patientCountry": "first",  # Keep country of residence
    "patientRegion": "first",  # Keep region of residence
    "patientPostalCode": "first",  # Keep postal code
    "patientMunicipality": "first",  # Keep municipality
}).rename(columns={"treatmentContactID": "NumberOfMeetings"})  # Rename column for clarity

# Step 3: Merge the correct Meetings Num count
df_appointments = df_appointments.merge(meeting_counts, on="patientContactID", how="left")

In [9]:
df_appointments.info()
df_appointments.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821200 entries, 0 to 1821199
Data columns (total 16 columns):
 #   Column                    Dtype
---  ------                    -----
 0   patientContactID          int64
 1   patientID                 object
 2   patientAgeAtContactStart  int64
 3   patientGender             object
 4   appointmentUrgency        object
 5   contactType               object
 6   primaryDiagnosisCode      object
 7   contactStartDate          object
 8   contactEndDate            object
 9   visitType                 object
 10  patientMaritalStatus      object
 11  patientCountry            object
 12  patientRegion             object
 13  patientPostalCode         object
 14  patientMunicipality       object
 15  Meetings Num              int64
dtypes: int64(3), object(13)
memory usage: 222.3+ MB

,patientContactID,patientID,patientAgeAtContactStart,patientGender,appointmentUrgency,contactType,primaryDiagnosisCode,contactStartDate,contactEndDate,visitType,patientMaritalStatus,patientCountry,patientRegion,patientPostalCode,patientMunicipality,Meetings Num
0,2048914,Z4485896,40,Kvinde,Akut,Fysisk fremmøde,DZ340,"2024-11-15 21:10:00,000","2024-11-15 21:51:00,000",None,None,Ukendt,Udland (98),0000,Andre Lande,4
1,1301008563688,Z876964,59,Mand,Planlagt,Virtuel pt.kt.,DJ961,"2023-06-06 08:16:00,000","2023-06-06 12:45:00,000",TELEFONKONSULTATION 15*,Død,Danmark,Nordjylland (81),9870.0,Hjørring,1
2,1301009771147,Z187084,65,Kvinde,Planlagt,Fysisk fremmøde,DH259,"2023-05-03 08:05:00,000","2023-05-03 09:20:00,000",None,Fraskilt,Danmark,Hovedstaden (84),2640,Høje-Taastrup,2
3,1301009813963,Z2163730,54,Mand,Planlagt,Fysisk fremmøde,DS022,"2023-02-09 09:28:00,000","2023-02-09 11:10:00,000",NY PATIENT 40*,Ugift,Danmark,Hovedstaden (84),3330,Hillerød,1
4,1301009813997,Z1045150,26,Kvinde,Planlagt,Fysisk fremmøde,DM950,"2023-02-23 10:13:00,000","2023-02-23 11:10:00,000",NY PATIENT 40*,Ugift,Danmark,Hovedstaden (84),2000,Frederiksberg,1

In [10]:
# Step 2: Convert `contactStartDate` and `contactEndDate` to datetime (now with fewer rows!)
df_appointments["contactStartDate"] = pd.to_datetime(df_appointments["contactStartDate"])
df_appointments["contactEndDate"] = pd.to_datetime(df_appointments["contactEndDate"])

# Step 3: Calculate appointment duration in minutes
df_appointments["AppointmentDuration(min)"] = (df_appointments["contactEndDate"] - df_appointments["contactStartDate"]).dt.total_seconds() / 60

# Drop `contactStartDate` and `contactEndDate` if not needed anymore
df_appointments.drop(columns=["contactStartDate", "contactEndDate"], inplace=True)

# Print a preview of the transformed dataset
df_appointments.head()

C:\Users\Nazareno\AppData\Local\Temp\ipykernel_6588\1002475240.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_appointments["contactStartDate"] = pd.to_datetime(df_appointments["contactStartDate"])
C:\Users\Nazareno\AppData\Local\Temp\ipykernel_6588\1002475240.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_appointments["contactEndDate"] = pd.to_datetime(df_appointments["contactEndDate"])

,patientContactID,patientID,patientAgeAtContactStart,patientGender,appointmentUrgency,contactType,primaryDiagnosisCode,visitType,patientMaritalStatus,patientCountry,patientRegion,patientPostalCode,patientMunicipality,Meetings Num,AppointmentDuration(min)
0,2048914,Z4485896,40,Kvinde,Akut,Fysisk fremmøde,DZ340,None,None,Ukendt,Udland (98),0000,Andre Lande,4,41.0
1,1301008563688,Z876964,59,Mand,Planlagt,Virtuel pt.kt.,DJ961,TELEFONKONSULTATION 15*,Død,Danmark,Nordjylland (81),9870.0,Hjørring,1,269.0
2,1301009771147,Z187084,65,Kvinde,Planlagt,Fysisk fremmøde,DH259,None,Fraskilt,Danmark,Hovedstaden (84),2640,Høje-Taastrup,2,75.0
3,1301009813963,Z2163730,54,Mand,Planlagt,Fysisk fremmøde,DS022,NY PATIENT 40*,Ugift,Danmark,Hovedstaden (84),3330,Hillerød,1,102.0
4,1301009813997,Z1045150,26,Kvinde,Planlagt,Fysisk fremmøde,DM950,NY PATIENT 40*,Ugift,Danmark,Hovedstaden (84),2000,Frederiksberg,1,57.0

In [11]:
# Convert `patientGender` to binary: Female = 0, Male = 1
df_appointments["patientGender"] = df_appointments["patientGender"].map({"Kvinde": 0, "Mand": 1})

# Create dummy variables for `visitType`
df_appointments = pd.get_dummies(df_appointments, columns=["contactType"], prefix="contactType")

df_appointments.head()

,patientContactID,patientID,patientAgeAtContactStart,patientGender,appointmentUrgency,primaryDiagnosisCode,visitType,patientMaritalStatus,patientCountry,patientRegion,patientPostalCode,patientMunicipality,Meetings Num,AppointmentDuration(min),contactType_Fysisk fremmøde,contactType_Udekontakt,contactType_Virtuel pt.kt.
0,2048914,Z4485896,40,0.0,Akut,DZ340,None,None,Ukendt,Udland (98),0000,Andre Lande,4,41.0,True,False,False
1,1301008563688,Z876964,59,1.0,Planlagt,DJ961,TELEFONKONSULTATION 15*,Død,Danmark,Nordjylland (81),9870.0,Hjørring,1,269.0,False,False,True
2,1301009771147,Z187084,65,0.0,Planlagt,DH259,None,Fraskilt,Danmark,Hovedstaden (84),2640,Høje-Taastrup,2,75.0,True,False,False
3,1301009813963,Z2163730,54,1.0,Planlagt,DS022,NY PATIENT 40*,Ugift,Danmark,Hovedstaden (84),3330,Hillerød,1,102.0,True,False,False
4,1301009813997,Z1045150,26,0.0,Planlagt,DM950,NY PATIENT 40*,Ugift,Danmark,Hovedstaden (84),2000,Frederiksberg,1,57.0,True,False,False

In [12]:
# Step 4: Translate Dummy Column Names to English
translation_dict = {
    "contactType_Fysisk fremmøde": "Physical Appointment",
    "contactType_Virtuel pt.kt.": "Virtual Appointment",
    "contactType_Udekontakt": "HomeVisit Appointment",
}

df_appointments.rename(columns=translation_dict, inplace=True)

In [13]:
df_appointments.head()

,patientContactID,patientID,patientAgeAtContactStart,patientGender,appointmentUrgency,primaryDiagnosisCode,visitType,patientMaritalStatus,patientCountry,patientRegion,patientPostalCode,patientMunicipality,Meetings Num,AppointmentDuration(min),Physical Appointment,HomeVisit Appointment,Virtual Appointment
0,2048914,Z4485896,40,0.0,Akut,DZ340,None,None,Ukendt,Udland (98),0000,Andre Lande,4,41.0,True,False,False
1,1301008563688,Z876964,59,1.0,Planlagt,DJ961,TELEFONKONSULTATION 15*,Død,Danmark,Nordjylland (81),9870.0,Hjørring,1,269.0,False,False,True
2,1301009771147,Z187084,65,0.0,Planlagt,DH259,None,Fraskilt,Danmark,Hovedstaden (84),2640,Høje-Taastrup,2,75.0,True,False,False
3,1301009813963,Z2163730,54,1.0,Planlagt,DS022,NY PATIENT 40*,Ugift,Danmark,Hovedstaden (84),3330,Hillerød,1,102.0,True,False,False
4,1301009813997,Z1045150,26,0.0,Planlagt,DM950,NY PATIENT 40*,Ugift,Danmark,Hovedstaden (84),2000,Frederiksberg,1,57.0,True,False,False

In [14]:
# Ensure dummy variables are binary (0/1) instead of True/False
dummy_columns = ["Physical Appointment", "Virtual Appointment", "HomeVisit Appointment"]
df_appointments[dummy_columns] = df_appointments[dummy_columns].astype(int)

In [15]:
# Define the column name mapping
rename_dict = {
    "patientContactID": "AppointmentID",
    "patientAgeAtContactStart": "Age",
    "patientGender": "Gender",
    "primaryDiagnosisCode": "Diagnosis Code",
    "NumberOfMeetings": "Meetings Num",
    "visitType": "Type of visit",
    "patientMaritalStatus": "Marital Status",
    "patientCountry": "Country",
    "patientRegion": "Region",
    "patientPostalCode": "Postal Code",
    "patientMunicipality": "Municipality",
    "appointmentUrgency": "Urgency",
}

# Apply the renaming
df_appointments.rename(columns=rename_dict, inplace=True)

In [16]:
# Convert 'Urgency' to binary: 0 = No Urgency (Planlagt), 1 = Urgency (Akut)
df_appointments["Urgency"] = df_appointments["Urgency"].map({"Akut": 1, "Planlagt": 0})
df_appointments.head()

,AppointmentID,patientID,Age,Gender,Urgency,Diagnosis Code,Type of visit,Marital Status,Country,Region,Postal Code,Municipality,Meetings Num,AppointmentDuration(min),Physical Appointment,HomeVisit Appointment,Virtual Appointment
0,2048914,Z4485896,40,0.0,1,DZ340,None,None,Ukendt,Udland (98),0000,Andre Lande,4,41.0,1,0,0
1,1301008563688,Z876964,59,1.0,0,DJ961,TELEFONKONSULTATION 15*,Død,Danmark,Nordjylland (81),9870.0,Hjørring,1,269.0,0,0,1
2,1301009771147,Z187084,65,0.0,0,DH259,None,Fraskilt,Danmark,Hovedstaden (84),2640,Høje-Taastrup,2,75.0,1,0,0
3,1301009813963,Z2163730,54,1.0,0,DS022,NY PATIENT 40*,Ugift,Danmark,Hovedstaden (84),3330,Hillerød,1,102.0,1,0,0
4,1301009813997,Z1045150,26,0.0,0,DM950,NY PATIENT 40*,Ugift,Danmark,Hovedstaden (84),2000,Frederiksberg,1,57.0,1,0,0

In [17]:
# save to csv
df_appointments.to_csv('data/Appointments_dataframe.csv', index=False)

In [18]:
df_diagnosis = pd.read_csv('data/Translated diagnosis dimension table.csv')
df_diagnosis.info()
df_diagnosis.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19482 entries, 0 to 19481
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Diagnosis     19482 non-null  object
 1   Disease Name  19482 non-null  object
 2   Group 3       19481 non-null  object
 3   Group 2       19482 non-null  object
 4   Group 1       19482 non-null  object
dtypes: object(5)
memory usage: 761.1+ KB

,Diagnosis,Disease Name,Group 3,Group 2,Group 1
0,DA00,Cholera,Infectious intestinal diseases,Infectious intestinal diseases,Certain infectious and parasitic diseases
1,DA000,Cholera caused by vibrio cholerae,Infectious intestinal diseases,Infectious intestinal diseases,Certain infectious and parasitic diseases
2,DA001,Cholera caused by vibrio cholerae eltor,Infectious intestinal diseases,Infectious intestinal diseases,Certain infectious and parasitic diseases
3,DA009,Cholera Uns,Infectious intestinal diseases,Infectious intestinal diseases,Certain infectious and parasitic diseases
4,DA01,Typhoid and paratypus,Infectious intestinal diseases,Infectious intestinal diseases,Certain infectious and parasitic diseases

In [22]:
# Step 1: Merge `df_appointments` with `df_diagnosis`
df_appointments = df_appointments.merge(
    df_diagnosis[["Diagnosis", "Disease Name", "Group 1", "Group 2", "Group 3"]],  # Selecting relevant columns
    left_on="Diagnosis Code",  # Matching column in `df_appointments`
    right_on="Diagnosis",  # Matching column in `df_diagnosis`
    how="left"  # Left join to keep all appointments
)

# Step 2: Drop the redundant "Diagnosis" column from df_diagnosis
df_appointments.drop(columns=["Diagnosis"], inplace=True)

# Step 3: Reorder columns (placing Disease Name & Group 1 after Diagnosis Code)
desired_order = (
    df_appointments.columns[:df_appointments.columns.get_loc("Diagnosis Code") + 1].tolist() + 
    ["Disease Name", "Group 1", "Group 2", "Group 3"] + 
    [col for col in df_appointments.columns if col not in ["Diagnosis Code", "Disease Name", "Group 1", "Group 2", "Group 3"]]
)

df_appointments = df_appointments[desired_order]

# Step 4: Save the updated dataset (optional)
df_appointments.to_csv("data/Processed_Appointments_With_Diseases.csv", index=False)

# Step 5: Verify the new column order
df_appointments.head()

,AppointmentID,patientID,Age,Gender,Urgency,Diagnosis Code,Disease Name,Group 1,Group 2,Group 3,...,Marital Status,Country,Region,Postal Code,Municipality,Meetings Num,AppointmentDuration(min),Physical Appointment,HomeVisit Appointment,Virtual Appointment
0,2048914,Z4485896,40,0.0,1,DZ340,"Pregnancy, first -time birth",Factors of importance for health and contacts ...,Persons in contact with health care in relatio...,Persons in contact with health care in relatio...,...,NaN,Ukendt,Udland (98),0000,Andre Lande,4,41.0,1,0,0
1,1301008563688,Z876964,59,1.0,0,DJ961,Chronic respiratory insufficiency,Diseases of respiratory organs,Other diseases of respiratory organs,Other diseases of respiratory organs,...,Død,Danmark,Nordjylland (81),9870.0,Hjørring,1,269.0,0,0,1
2,1301009771147,Z187084,65,0.0,0,DH259,Age -related cataract (> = 50 years) Uns,Diseases of the eye and eye environment,Diseases of the lens of the eye,Diseases of the lens of the eye,...,Fraskilt,Danmark,Hovedstaden (84),2640,Høje-Taastrup,2,75.0,1,0,0
3,1301009813963,Z2163730,54,1.0,0,DS022,Fracture of the nose,"Lesions, poisonings and certain other follows ...",Main lesions,Main lesions,...,Ugift,Danmark,Hovedstaden (84),3330,Hillerød,1,102.0,1,0,0
4,1301009813997,Z1045150,26,0.0,0,DM950,Acquired deformity of the nose,"Diseases of bones, muscles and connective tissue","Other diseases of bones, muscles and connectiv...","Other diseases of bones, muscles and connectiv...",...,Ugift,Danmark,Hovedstaden (84),2000,Frederiksberg,1,57.0,1,0,0

In [23]:
df_appointments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1821200 entries, 0 to 1821199
Data columns (total 26 columns):
 #   Column                    Dtype
---  ------                    -----
 0   AppointmentID             int64
 1   patientID                 object
 2   Age                       int64
 3   Gender                    float64
 4   Urgency                   int64
 5   Diagnosis Code            object
 6   Disease Name              object
 7   Group 1                   object
 8   Group 2                   object
 9   Group 3                   object
 10  AppointmentID             int64
 11  patientID                 object
 12  Age                       int64
 13  Gender                    float64
 14  Urgency                   int64
 15  Type of visit             object
 16  Marital Status            object
 17  Country                   object
 18  Region                    object
 19  Postal Code               object
 20  Municipality              object
 21  Meetings Num              int64
 22  AppointmentDuration(min)  float64
 23  Physical Appointment      int64
 24  HomeVisit Appointment     int64
 25  Virtual Appointment       int64
dtypes: float64(3), int64(10), object(13)
memory usage: 361.3+ MB